<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit</h1>
    <form method="post" action="/user/edit/{id}">
      <input type="text" name="id" value="{id}" readonly />
      <input type="text" name="firstName" value="{firstName}" />
      <input type="text" name="lastName" value="{lastName}" />
      <input type="email" name="email" value="{email}" />
      <input type="text" name="phoneNumber" value="{phoneNumber}" />
      <input type="text" name="address" value="{address}" />
      <select name="role_id" id="">
        {list}
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
